<div class="col-md-8">
  <div class="login-banner">
    <%= image_tag "placeholders/login/f11.jpg" %>
  </div>
</div>
<div class="clearfix"></div>
<div class="login-footer">
  <div class="col-md-12">
    <h3 id="framgia">Framgia Inc</h3>
  </div>
  <div class="col-md-3">
    <ul>
      <li class="fheader">Ha Noi Office</li>
      <li><i class="fa fa-map-marker fa-2" aria-hidden="true"></i>
        13F Keangnam Landmark 72 Tower, Plot E6, Pham Hung Road, Nam Tu Liem District., Ha Noi
      </li>
      <li><i class="fa fa-phone fa-2" aria-hidden="true"></i> 84-24-3795-5417</li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li class="fheader">Laboratory</li>
      <li>
        <i class="fa fa-map-marker fa-2" aria-hidden="true"></i>
        9F HTP Building, 434 Tran Khat Chan, 1km from Bach Khoa University, Ha Noi
      </li>
      <li><i class="fa fa-phone fa-2" aria-hidden="true"></i> 84-24-3795-5417</li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li class="fheader">Ho Chi Minh Office</li>
      <li>
        <i class="fa fa-map-marker fa-2" aria-hidden="true"></i>
        8F Nice building, 467 Dien Bien Phu Str., Ward 25, Binh Thanh district, HCMC
      </li>
      <li><i class="fa fa-phone fa-2" aria-hidden="true"></i> 84-24-3795-5417</li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li class="fheader">Da Nang Office</li>
      <li>
        <i class="fa fa-map-marker fa-2" aria-hidden="true"></i>
        6F, Vinh Trung Plaza, 255~257 Hung Vuong Str., Vinh Trung ward, Thanh Khe district, Da Nang
      </li>
      <li><i class="fa fa-phone fa-2" aria-hidden="true"></i> 84-24-3795-5417</li>
    </ul>
  </div>
</div>
