<!-- Large modal -->
<%= render "static_pages/logo" %>
<div class="col-md-4">
  <h1 id = "login-title" ><%= t "static_pages.title" %></h1>
  <p><%= t "static_pages.content"%></p>
  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  <%= t "static_pages.signin" %></button>
</div>
